extends layout

block content
  header 
    .menu-btn 
      span.menu-btn_burger
    nav.nav 
      ul.menu-nav
        li.menu-nav_item.active
          a.menu-nav_link(href="/") Home 
        li.menu-nav_item
          a.menu-nav_link(href="/about") About Me 
        li.menu-nav_item
          a.menu-nav_link(href="/projects") My Projects 
        li.menu-nav_item
          a.menu-nav_link(href="/contact") Contact Me 
  main
    section.home 
      h2 Hi! My Name Is 
      h1.home_name Tobi <span.home_name--last> Adebayo
      h2 Web Developer, Designer & Programmer
        div.social-icons
          a(href="#!")
            i.fab.fa-twitter.fa-2x
          a(href="#!")
            i.fab.fa-linkedin.fa-2x
          a(href="#!")
            i.fab.fa-instagram.fa-2x
          a(href="#!")
            i.fab.fa-github.fa-2x
        footer @Copyright 2023
          
        